$default: #f1f1f1;
$default-hover: #d3d2d2;
$increment: #41cc1f;
$decrement: #f02727;
$increment-hover: #38ad1b;
$decrement-hover: #d12020;
$increment-outline: #2e9615;
$decrement-outline: #8b1414;
$white: #fff;
